html{
    background-image: linear-gradient(to bottom,rgba(148,8,237,1),rgba(148,8,191,0.3));
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
h1{
    justify-self:center ;
    padding-top:2%;
    font-size:60px;
    font-family:"Rubik",sans-serif;
    color:rgba(70, 0, 70, 1);

    font-weight:550;
}
.loc-form{
    display: flex;
    width:50%;
    height: 500px;
    background-color:rgba(101, 187, 192, 0.56);
    border:10px solid rgba(6,92,96,1);
    border-radius:40px;
    align-items: center;
    justify-content: center;
    text-align: center;
    justify-self: center;
    margin-top:5%;
    font-family:"Rubik", sans-serif;
}
input{
    display: block;
    justify-self:center;
}
.lab{
    height:90px;
    font-size:45px;
    color: rgba(0, 68, 73, 1);
    font-weight: 500;
}
.ip-box{
    height:70px;
}
.ip-box input{
    height:50px;
    text-align: center;
    font-size:25px;
    width:400px;
}
.sub input{
    height:55px;
    width:250px;
    font-size:25px;
    border-radius: 5px;
    font-weight: 200;
    background-color:rgba(0, 68, 73, 1);
    color:white;
    border:none
}
.sub{
    padding-top: 5%;
    height:50px;
}

.errmsg{
    margin-top:30px;
    font-size:22px;
}
.date{
    padding-left:10px;
}
/*.form-city{
    
}
*/

